{% extends 'master.html' %}

{% block title %}Confirm Message{% endblock %}

{% block content %}
<div class="pagetitle">
    <h1>Confirm Page</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Pages</li>
        <li class="breadcrumb-item active">Confirmation</li>
      </ol>
    </nav>
</div>

<section class="section">
    <div class="card">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">Operation is done successfully</h4>
            <p>{{ message|safe }}</p>
            <hr>
        </div>

        <div class="d-flex gap-2 mt-3 justify-content-center">
            <a href="/centerPatients/Attendance-Today/" class="btn btn-primary">
                Return to List
            </a>

           {% if show_print %}
    <a href="{% url 'patientForm' patientid %}" 
       target="_blank" 
       class="btn btn-success">
        Print Form
    </a>
{% endif %}

        </div>
    </div>
</section>
{% endblock %}
