{%extends 'master.html'%}
<html>
    <head>
<title>Confirm Message</title>
    </head>
    <body>
        {% block content %}
        <div class="pagetitle">
            <h1>Confirm Page</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Pages</li>
                <li class="breadcrumb-item active">Confirmation</li>
              </ol>
            </nav>
          </div>


          <section class="section">
           <div class="card">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
                <h4 class="alert-heading">Operation is done successfully </h4>
               <p>{{ message|safe }}</p>
                <hr>
                
            
              </div>

                <div class="d-grid gap-2 mt-3">
                  <a href="{{returnUrl }}" target="{{target}}"  class="btn btn-success">{{btnText}}</a>


              </div>
              </div>
        
          </section>
    {% endblock %}
       
    </body>
</html>