{%extends 'master.html'%}
{% load static%}
<html>

<head>
  {% block header %}
  <style>
    .highlight {
      background-color: yellow;
      font-weight:bold;
    }

    #myInput {
      background-image: url("{% static 'assets/img/searchicon.png' %}");
      /* Add a search icon to input */
      background-position: 10px 12px;
      /* Position the search icon */
      background-repeat: no-repeat;
      /* Do not repeat the icon image */
      width: 100%;
      /* Full-width */
      font-size: 18px;
      /* Increase font-size */
      padding: 12px 20px 12px 40px;
      /* Add some padding */
      border: 1px solid #ddd;
      /* Add a grey border */
      margin-bottom: 12px;
      /* Add some space below the input */
    }

   


    

  
  </style>
  {% endblock %}

</head>

<body>
  {% block content %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <div class="pagetitle">
    <h1>Attended Patients</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Manager</li>
        <li class="breadcrumb-item active">Attended Patients</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section">

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card">
           <br>
           <br>
            {% comment %} <div  class="btn btn-success mb-2">
              Total Patients today <span id="spnTotalPatients" class="badge bg-white text-success" style="font-size:16px !important">{{Total}}</span>
            </div> {% endcomment %}
            <div class="card-body">
                          <!-- Horizontal Form -->
              <input type="text" id="myInput" oninput="myFunction()" placeholder="Search for patients..">

              <table id="myTable" class="table table-striped" >
                <tr class="header">
                  <th style="width:15%;">File #</th>
                  <th style="width:30%;">Patient Name</th>
                  <th style="width:15%;"> Mobile</th>
                  <th style="width:15%;"> City</th>
                  
                  <th></th>
                </tr>
                {%for patient in patients%}
                <tr>

                  <td>{{patient.fileserial}}</td>
                  <td>{{patient.fullname}} </td>
                  <td>{{patient.mobile}}</td>

                  <td>{{patient.city}}</td>
                 

                  <td style="text-align:right;">
                    
                {% if patient.evaluation_degree %}
                    <button class="btn btn-warning" onclick="openPopup({{ patient.patientid }})">                    
                        <i class="bi bi-star me-1"></i>
                       Evaluated AS <span style="font-weight:bold ;"> [{{ patient.evaluation_degree }}]</span>
                    </button> 
                {% else %}
                    <button class="btn btn-success" onclick="openPopup({{ patient.patientid }})">                    
                        <i class="bi bi-star me-1"></i>
                        Print Form
                    </button> 
                {% endif %}
                
                  </td>
                </tr>
                {%endfor%}

              </table>

              <p></p>


              <div class="form-container">
             
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    </div>
  </section>


  <script>

    function openPopup(patientid) {
      // URL of the page you want to open in the popup window
      var url = "{% url 'patientForm' 0 %}".replace('0', patientid);
  
      // Options for the popup window
      var options = {
          width: 600, // Width of the popup window
          height: 400, // Height of the popup window
          top: 100, // Position from the top of the screen
          left: 100, // Position from the left of the screen
          toolbar: "no", // Show or hide the browser toolbar
          menubar: "no", // Show or hide the browser menubar
          location: "no", // Show or hide the browser location bar
          resizable: "yes", // Allow resizing of the popup window
          scrollbars: "yes" // Show or hide scrollbars in the popup window
      };
  
      // Open the popup window
      window.open(url, "PopupWindow", getOptionsString(options));
  }

  function getOptionsString(options) {
    var optionString = "";
    for (var key in options) {
        optionString += key + "=" + options[key] + ",";
    }
    // Remove the trailing comma
    optionString = optionString.slice(0, -1);
    return optionString;
}
  

    function myFunction() {
      var input, filter, table, tr, td, i, txtValue, found;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
     
      
      // Loop through all table rows, starting from index 1 to skip the header row
      for (i = 1; i < tr.length; i++) {
        // Hide the row initially
        tr[i].style.display = "none";
        // Get all cells in the current row
        td = tr[i].getElementsByTagName("td");
        found = false;
        // Loop through all cells in the current row
        for (var j = 0; j < td.length; j++) {
          // Skip if the cell contains a button
          if (td[j].querySelector('button')) {
            continue;
          }
          txtValue = td[j].textContent || td[j].innerText;
          // Check if the cell contains the search query
          if (filter && txtValue.toUpperCase().indexOf(filter) > -1) {
            found = true;
            // If any cell contains the search query, show the row
            tr[i].style.display = "";
            // Highlight the matching text in the cell
            td[j].innerHTML = txtValue.replace(new RegExp(filter, 'gi'), function (match) {
              return '<span class="highlight">' + match + '</span>'; // Wrap matching characters with <span> tag
            });
            // Break the inner loop as we found a match in this row
            break;
          } else {
            // If no search query or no match, reset the cell's content
            td[j].innerHTML = txtValue;
          }
        }
        // If no search query or no cell in this row matched the search query, keep the row hidden
        if (!filter || !found) {
          tr[i].style.display = "none";
        }
      }
    }

   
 

   

  </script>


  {% endblock %}
</body>

</html>