{%extends 'master.html'%}

{% block content %}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<!-- Include Bootstrap JS and its dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  <div class="pagetitle">
  <h1> Patients Report View</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Manager</li>
        <li class="breadcrumb-item active">Show All Patients between period</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section">

    <div class="row">
      
        <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Show Patients based on expected date</h5>

            <!-- General Form Elements -->
            <form method="post" validate>
              {% csrf_token %}
              <div class="row mb-4">
                <label for="inputDate" class="col-sm-3 col-form-label">From Date</label>
                <div class="col-sm-8">
                  <input type="date" required name="txtFromDate" class="form-control">
                </div>
              </div>
              <div class="row mb-4"> 
                <label for="inputDate" class="col-sm-3 col-form-label">To Date</label>
                <div class="col-sm-8">
                  <input type="date" required name="txtToDate" class="form-control">
                </div>
              </div>

              <div class="row mb-4">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-8">
                  <button type="submit" class="btn btn-primary">Show Report</button>
                </div>
              </div>

            </form><!-- End General Form Elements -->

          </div>
        </div>
        </div>
        <br>
        <div class="col-lg-12">
        <div class="accordion" id="patientsAccordion">
          {% for patient in patients %}
              <div class="card">
                  <div class="card-header" id="heading{{ patient.patientid }}">
                    <h2 class="mb-0">
                      <button class="btn btn-outline-primary" style="width: 99%; text-align: left;" type="button" data-toggle="collapse" data-target="#collapse{{ patient.patientid }}" aria-expanded="true" aria-controls="collapse{{ patient.patientid }}">
                          File ID: {{ patient.fileserial }} - {{ patient.fullname }} - Age: {{ patient.age }} 
                          <span class="ml-auto badge bg-primary rounded-pill">{{ patient.patientvisits.count }} visits</span>
                      </button>
                  </h2>
                  </div>

                  <div id="collapse{{ patient.patientid }}" class="collapse" aria-labelledby="heading{{ patient.patientid }}" data-parent="#patientsAccordion">
                      <div class="card-body">
                          <h4>Visits:</h4>
                          {% if patient.patientvisits.all %}
                              <ul>
                                 
                                      <li>
                                          <table class="table table-bordered">
                                              <thead>
                                                  <tr>
                                                      <th>Visit Date</th>
                                                      <th>Doctor Name</th>
                                                      <th>Diagnosis</th>
                                                      <th>Remarks</th>
                                                      <th></th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                {% for visit in patient.patientvisits.all %}
                                                  <tr>
                                                      <td>{{ visit.visitdate }}</td>
                                                      <td>{{ visit.doctorid }}</td>
                                                      <td>{{ visit.diagnosis }}</td>
                                                      <td>{{ visit.reasonforvisit }}</td>
                                                      <td style="text-align: right;">
                                                          <button class="btn btn-warning">
                                                              <i class="bi bi-star me-1"></i>
                                                              Evaluated as <span style="font-weight:bold;">[{{ visit.evaluationeegree }}] - {{visit.classifiedID.optionClassified}}</span>
                                                          </button>
                                                          
                                                      </td>
                                                  </tr>
                                                  {% endfor %}
                                              </tbody>
                                          </table>
                                      </li>
                                  
                              </ul>
                          {% else %}
                              <p>No visits found.</p>
                          {% endif %}
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
      </div>
      
    </div>

    </div>
  </section>

  {% endblock %}


