{%extends 'master.html'%}
{% load static%}

  {% block header %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> 
    
  <link rel="stylesheet" href="{% static 'assets/css/doctorExam.css' %}">


  {% endblock %}
  {% block content %}
  <div class="pagetitle">
     <!-- Store JSON Safely -->

    <h1>Doctor Examination </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{%url 'index'%}">Home</a></li>
        <li class="breadcrumb-item">Doctor</li>
        <li class="breadcrumb-item active">Doctor Examination</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section">

    
        <div class="card">
          <div class="card">
            <div  class="btn btn-warning mb-2">
              Total Patients today <span id="spnTotalPatients" class="badge bg-white text-success" style="font-size:16px !important">{{Total}}</span>
            </div>
            <div class="card-body">
                          <!-- Horizontal Form -->
              <input type="text" id="myInput" oninput="showtable()" placeholder="Search for names..">

              <table id="myTable" >
                <tr class="header">
                  <th style="width:25%;">File #</th>
                  <th style="width:40%;">Patient Name</th>
                  <th style="width:40%;">Suffered Case</th>
                  <th style="width:40%;">Patient Mobile</th>
                  <th></th>
                </tr>
                {%for patient in patients%}
                <tr onclick="highlightRow(this)">

                  <td>{{patient.fileserial}}</td>
                  <td>{{patient.fullname}} </td>
                  <td>{{patient.sufferedcaseByPatient}}</td>
                  <td>{{patient.mobile}}</td>

                  <td><button type="button" title="Select" class="btn btn-outline-primary"
                      onclick="return bindPatientData('{{ patient.patientid }}', '{{ patient.fullname }}','{{ patient.fileserial }}')">Select</button> </td>
                </tr>
                {%endfor%}

              </table>

              <p></p>
<hr>
              <div class="form-container">
                <form method="post" name="vsitForm" action="DoctorEvaluation" validate>
                    {% csrf_token %}
            
                    <input type="hidden"  name="hdfpatientid">

            <div class="divSelectedPatient" name="divPatientName">Selected Patient:</div>
                    {% comment %} <div class="mb-3">
                        <label for="inputNumber" class="form-label">Diagnosis</label>
                        <textarea type="text" name="Diagnosis" class="form-control" required></textarea>
                        <div class="invalid-feedback">Please enter your Diagnosis.</div>
                    </div>
            
                    <div class="mb-3">
                        <label for="inputNumber" class="form-label">Remarks</label>
                        <textarea type="text" name="txtRemarks" class="form-control" required></textarea>
                        <div class="invalid-feedback">Please enter your Remarks.</div>
                    </div> {% endcomment %}
            
                   
                  
                    <div class="mb-4">
                     
                      <div class="d-flex flex-wrap gap-3 align-items-center">
                          <div class="form-check custom-radio">
                              <input type="radio" name="gridRadios" id="gridRadios1" value="OK">
                              <label for="gridRadios1" >
                                  <span class="circle bg-green"></span>
                                 OK
                              </label>
                          </div>
                          <div class="form-check custom-radio">
                              <input type="radio" name="gridRadios" id="gridRadios2" value="++">
                              <label for="gridRadios2">
                                  <span class="circle bg-orange" ></span>
                                <span style="font-size: 24px;">++</span> 
                              </label>
                          </div>
                          <div class="form-check custom-radio">
                              <input type="radio" name="gridRadios" id="gridRadios3" value="Surgery">
                              <label for="gridRadios3">
                                  <span class="circle bg-pink"></span>
                                  Surgery
                              </label>
                          </div>
                          <div class="form-check custom-radio">
                              <input type="radio" name="gridRadios" id="gridRadios4" value="6/6">
                              <label for="gridRadios4">
                                  <span class="circle bg-white"></span>
                                  <span style="font-size: 18px;">6/6</span> 
                              </label>
                          </div>
                          <div class="form-check custom-radio">
                              <input type="radio" name="gridRadios" id="gridRadios5" value="Bad">
                              <label for="gridRadios5">
                                  <span class="circle bg-yellow"></span>
                                  Bad
                              </label>
                          </div>
                      </div>
                  </div>
                  <input type="hidden" id="hdfSelectSubCategory" name="selectedOption" value="">
                  
                  <br/>
                  
                  
            
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        <button type="reset" class="btn btn-secondary btn-lg">Reset</button>
                    </div>
                </form>
            </div>
            
            
            </div>
          </div>
      
     
    </div>
   
  </section>
  <!-- Modal Structure -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selection Confirmed</h5>
                <!-- Restyled Close Button -->
                <button type="button" class="btn-close custom-close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" >
                <!-- Content will be set dynamically by JavaScript -->
<div id="modalBody"></div>
<label for="selectControl">Choose an Option:</label>
<select id="selectControl" class="form-select mt-3">
  <option selected disabled>Select an option</option>
 
</select>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
    </div>
  </div>


  <script>
    function highlightRow(row) {
      // Remove the highlight class from all rows
      const rows = document.querySelectorAll("#myTable tr");
      rows.forEach(tr => tr.classList.remove("highlight"));
  
      // Add the highlight class to the clicked row
      row.classList.add("highlight");
  }
  
  const classifiedOptions = JSON.parse('{{ classifiedOptionsJSON|safe }}');

  const modalBody = document.getElementById('modalBody');
  const dropdown = document.getElementById('selectControl');
  const modalElement = document.getElementById('exampleModal');
  //const modal = new bootstrap.Modal(modalElement);
  const hiddenInput = document.getElementById('hdfSelectSubCategory'); // Hidden input to store the value
  
  // Initialize Bootstrap Modal with options
  const modal = new bootstrap.Modal(modalElement, {
    backdrop: 'static', // Prevent modal from closing when clicking on backdrop
    keyboard: false     // Disable closing modal with Esc key
  });
  // Function to update dropdown options
  const updateDropdown = (selectedValue) => {
      const filteredOptions = classifiedOptions.filter(option => 
          option.classifiedCategory === selectedValue
      );
      dropdown.innerHTML = '<option selected disabled>Select an option</option>';
      filteredOptions.forEach(option => {
          const opt = document.createElement('option');
          opt.value = option.classifiedID;
          opt.textContent = option.optionClassified;
          dropdown.appendChild(opt);
      });
  };
  
  // Handle radio button changes
  document.querySelectorAll('.custom-radio input').forEach((input) => {
      input.addEventListener('change', function () {
          document.querySelectorAll('.custom-radio').forEach((radio) => {
              radio.classList.remove('active');
          });
          this.parentElement.classList.add('active');
  
          const selectedValue = this.value;
          modalBody.innerHTML = `You selected: <strong>${selectedValue}</strong>`;
          updateDropdown(selectedValue);
          modal.show();
      });
  });
  
  // Handle modal close to store dropdown value
  modalElement.addEventListener('hidden.bs.modal', () => {
  const selectedDropdownValue = dropdown.value;
  if (selectedDropdownValue) {
    hiddenInput.value = selectedDropdownValue; // Store the selected value in hidden input
    console.log("Stored value in hidden input:", hiddenInput.value);
  } else {
    console.log("No value selected from dropdown.");
  }
  });
  
  
  
  
  
  
  // Add click event to handle the active state dynamically
  // Show modal when a circle is selected
  window.onload = function() {
  document.getElementById("myInput").focus();
  };
  
  function showtable() {
  
    var x = document.getElementById("myTable");
    x.style.display = "block";
  
    myFunction();
  }
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue, found;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
   
    
    // Loop through all table rows, starting from index 1 to skip the header row
    for (i = 1; i < tr.length; i++) {
      // Hide the row initially
      tr[i].style.display = "none";
      // Get all cells in the current row
      td = tr[i].getElementsByTagName("td");
      found = false;
      // Loop through all cells in the current row
      for (var j = 0; j < td.length; j++) {
        // Skip if the cell contains a button
        if (td[j].querySelector('button')) {
          continue;
        }
        txtValue = td[j].textContent || td[j].innerText;
        // Check if the cell contains the search query
        if (filter && txtValue.toUpperCase().indexOf(filter) > -1) {
          found = true;
          // If any cell contains the search query, show the row
          tr[i].style.display = "";
          // Highlight the matching text in the cell
          td[j].innerHTML = txtValue.replace(new RegExp(filter, 'gi'), function (match) {
            return '<span class="highlight">' + match + '</span>'; // Wrap matching characters with <span> tag
          });
          // Break the inner loop as we found a match in this row
          break;
        } else {
          // If no search query or no match, reset the cell's content
          td[j].innerHTML = txtValue;
        }
      }
      // If no search query or no cell in this row matched the search query, keep the row hidden
      if (!filter || !found) {
        tr[i].style.display = "none";
      }
    }
  }
  
  
  function bindPatientData(element, namepatient, filenumber) {
      var hiddenInput = document.querySelector('input[type="hidden"][name="hdfpatientid"]');
      $('div.divSelectedPatient[name="divPatientName"]').text('Selected Patient: ' + filenumber + '-' + namepatient);
      if (hiddenInput) {
          hiddenInput.value = element;
      } else {
          console.error('Hidden input with name "hdfpatientid" not found.');
      }
  
      // Get CSRF token from the hidden input or cookie
      var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  
      $.ajax({
          url: 'searchPatient',
          method: 'POST',
          headers: {
              'X-CSRFToken': csrftoken // Include CSRF token in the request header
          },
          data: {
              'myData': element
          },
          success: function (response) {
              $('#patientdataDiv').text(response[0].fullname);
              showForm();
          },
          error: function (xhr, errmsg, err) {
              console.log(xhr.status + ": " + xhr.responseText);
          }
      });
  }
  
  function showForm() {
      const formContainer = document.querySelector(".form-container");
      formContainer.classList.add("show");
  }
  
  </script>


  {% endblock %}
