{% extends 'master.html'%}
{% load custom_filters %}


{% block content %}
<style>
  .form-group {
      margin-bottom: 20px; /* Adjust this value as needed */
  }
  .text-danger {
    color: red;
}

        .table th, .table td {
            text-align: center;
            vertical-align: middle;
        }
        .left{
            text-align: left !important;
            font-weight:500;
        }
        /* Increase radio button size */
        .custom-radio {
            transform: scale(1.5); /* Increase size */
            margin: 5px; /* Add spacing */
        }
    </style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            function toggleReferralField() {
                let reservationType = $("#{{ form.reservationType.id_for_label }}").val();
                let referralField = $("#{{ form.referral.id_for_label }}");
    
                if (reservationType === "FV") {
                    referralField.prop("disabled", false);  // Enable if FV
                } else {
                    referralField.prop("disabled", true).val("");  // Disable and clear if not FV
                }
            }
    
            // Run on page load
            toggleReferralField();
    
            // Run on change
            $("#{{ form.reservationType.id_for_label }}").change(function () {
                toggleReferralField();
            });
        });
    </script>

<div class="pagetitle">
    <h1>Edit Reservation</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{%url 'index'%}">Home</a></li>
        <li class="breadcrumb-item">Center</li>
        <li class="breadcrumb-item active">Edit Reservation</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section">

    <div class="row">
      <div class="col-lg-10">
     
    
<div class="form-container">
  <form method="post" class="form-horizontal">
    {% csrf_token %}

    <div class="form-group row">
        <label for="{{ form.fileserial.id_for_label }}" class="col-sm-3 col-form-label">File Serial</label>
        <div class="col-sm-8">
            {{ form.fileserial }}
            {% if fileserial.errors %}
                <div class="text-danger">
                    {{ form.fileserial.errors }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ form.reservationType.id_for_label }}" class="col-sm-3 col-form-label">Reservation Type<span style="color: red;">*</span></label>
        <div class="col-sm-8">
            {{ form.reservationType }}
            {% if form.reservationType.errors %}
                <div class="text-danger">
                    {{ form.reservationType.errors }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ form.referral.id_for_label }}" class="col-sm-3 col-form-label">Referral</label>
        <div class="col-sm-8">
            {{ form.referral }}
            {% if form.referral.errors %}
                <div class="text-danger">
                    {{ form.referral.errors }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        
        <label for="id_mobile" class="col-sm-3 col-form-label">Mobile<span style="color: red;">*</span></label>
        <div class="col-sm-8">
           
        

        <div class="col-sm-8">
            {{ form.mobile }}
            {% if form.mobile.errors %}
                <div class="text-danger">
                    {{ form.mobile.errors }}
                </div>
            {% endif %}
        </div>
       
        <span style="display: none;" id="mobile-validation-message" class="alert alert-warning"></span>
        </div>

       
    
</div>
    
    <div class="form-group row">
        <label for="{{ form.fullname.id_for_label }}" class="col-sm-3 col-form-label">Patient Name<span style="color: red;">*</span></label>
        <div class="col-sm-8">
            {{ form.fullname }}
            {% if form.fullname.errors %}
                <div class="text-danger">
                    {{ form.fullname.errors }}
                </div>
            {% endif %}
        </div>
    </div>
   
    <div class="form-group row">
        
        <label for="{{ form.otherMobile.id_for_label }}" class="col-sm-3 col-form-label">Other Mobile</label>
       
            <div class="col-sm-8">
                {{ form.otherMobile }}
               
            </div>
       
    
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label">Gender<span style="color: red;">*</span></label>
    <div class="col-sm-8">
        <div>
            {% for radio in form.gender %}
                <div class="form-check form-check-inline">
                    {{ radio.tag }}
                    <label class="form-check-label">{{ radio.choice_label }}</label>
                </div>
            {% endfor %}
        </div>
        {% if form.gender.errors %}
            <div class="text-danger">
                {{ form.gender.errors }}
            </div>
        {% endif %}
    </div>
</div>

<div class="form-group row">
    <label for="{{ form.birthdate.id_for_label }}" class="col-sm-3 col-form-label">Birth Date </label>
    <div class="col-sm-8">
        {{ form.birthdate  }}
        {% if form.birthdate.errors %}
        <div class="text-danger">
            {{ form.birthdate.errors }}
        </div>
    {% endif %}
    </div>
</div>
    <div class="form-group row">
        <label for="{{ form.city.id_for_label }}" class="col-sm-3 col-form-label">City<span style="color: red;">*</span></label>
        <div class="col-sm-8">
            {{ form.city }}
            {% if form.city.errors %}
                <div class="text-danger">
                    {{ form.city.errors }}
                </div>
            {% endif %}
        </div>
    </div>
    
   

    
    <div class="form-group row">
        <label for="{{ form.sufferedcaseByPatient.id_for_label }}" class="col-sm-3 col-form-label">Suffered Case by patient<span style="color: red;">*</span></label>
        <div class="col-sm-8">
            {{ form.sufferedcaseByPatient }}
            {% if form.sufferedcaseByPatient.errors %}
                <div class="text-danger">
                    {{ form.sufferedcaseByPatient.errors }}
                </div>
            {% endif %}
        </div>
    </div>

   

    <div class="form-group row">
        <label for="{{ form.checkUpprice.id_for_label }}" class="col-sm-3 col-form-label">Check-Up price <span style="color: red;">*</span></label>
        <div class="col-sm-8">
            {{ form.checkUpprice }}
            {% if form.checkUpprice.errors %}
                <div class="text-danger">
                    {{ form.checkUpprice.errors }}
                </div>
            {% endif %}
        </div>
    </div>

    
    
    <div class="form-group row">
        <label for="{{ form.remarks.id_for_label }}" class="col-sm-3 col-form-label">Remarks</label>
        <div class="col-sm-8">
            {{ form.remarks }}
            
        </div>
    </div>

    
        <div class="form-group row" >
            <label for="{{ form.rideglass.id_for_label }}" class="col-sm-5 col-form-label">
                Willing to get rid of glass <span style="color: red;">*</span></label>
    
            
            <div class="col-sm-5">
                <div class="form-check form-check-inline">
                    <input 
                        class="form-check-input" 
                        type="radio" 
                        name="rideglass" 
                        id="rideglassYes" 
                        value="Y"
                        {% if form.rideglass.value == "Y" %}checked{% endif %}
                    >
                    <label class="form-check-label" for="rideglassYes">YES</label>
                </div>
                <div class="form-check form-check-inline">
                    <input 
                        class="form-check-input" 
                        type="radio" 
                        name="rideglass" 
                        id="rideglassNo" 
                        value="N"
                        {% if form.rideglass.value == "N" %}checked{% endif %}
                    >
                    <label class="form-check-label" for="rideglassNo">NO</label>
                </div>
            </div>
        </div>
    
        <div class="form-group row">
            <label for="{{ form.wearingconduct.id_for_label }}" class="col-sm-5 col-form-label">
                Wearing contact lens for the last 2 weeks? <span style="color: red;">*</span>
            </label>
            <div class="col-sm-6">
                <div class="form-check form-check-inline">
                    <input 
                        class="form-check-input" 
                        type="radio" 
                        name="wearingconduct" 
                        id="wearingYes" 
                        value="Y"
                        {% if form.wearingconduct.value == "Y" %}checked{% endif %}
                    >
                    <label class="form-check-label" for="wearingYes">YES</label>
                </div>
                <div class="form-check form-check-inline">
                    <input 
                        class="form-check-input" 
                        type="radio" 
                        name="wearingconduct" 
                        id="wearingNo" 
                        value="N"
                        {% if form.wearingconduct.value == "N" %}checked{% endif %}
                    >
                    <label class="form-check-label" for="wearingNo">NO</label>
                </div>
                <!-- 🔴 Display Validation Errors Here -->
                {% if form.wearingconduct.errors %}
                    <div class="text-danger">
                        {{ form.wearingconduct.errors.as_text }}
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- Medical Conditions Selection -->
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                    <th class="footer-image">Disease</th>
                    <th style="border-left: 2px solid #fff; width:7%">SELF</th>
                    <th style="border-right: 2px solid #fff; width:7%">REL</th>
                    <th></th>
                    <th style="border-left: 2px solid #fff; width:7%">SELF</th>
                    <th style="border-right: 2px solid #fff; width:7%">REL</th>
                  
                    
                </tr>
            </thead>
            <tbody>
            
                {% for condition in conditions_list %}
                    {% if forloop.first or forloop.counter0|divisibleby:2 %}
                        <tr>
                    {% endif %}
            
                    <td class="left">{{ condition }}</td>  {# Show all conditions from CONDITIONS_LIST #}
                    {% with medical_history|get_item:condition as relation %}  {# Check if the condition exists in medical_history #}
                    <td >
                        <input type="radio" class="custom-radio" name="medical_conditions_{{ condition }}" value="self" 
                             {% if relation == "self" %} checked {% endif %}>
                    </td>
                    <td >
                        <input type="radio" class="custom-radio"  name="medical_conditions_{{ condition }}" value="relative" 
                                 {% if relation == "relative" %} checked {% endif %}>
                    </td>
                    
                    {% endwith %}
            
                    {% if forloop.last or forloop.counter|divisibleby:2 %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            </table>
            
            
        </div>
        
        

    

   
    <div class="form-group row">
        <div class="col-sm-12 text-center"> <!-- Use text-center to center align content -->
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
    </div>
    
</form>
          
    </div>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        const mobileField = document.getElementById('id_mobile');
        const messageSpan = document.getElementById('mobile-validation-message');
        
        mobileField.addEventListener('blur', function () {
            const mobile = mobileField.value;
            const strmobile=mobile;
            if (mobile) {
                fetch(`/validate-mobile/?mobile=${mobile}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.exists) {
                            messageSpan.innerHTML = `A patient with this Mobile Number already exists. <a href="/centerReservationByMobile/${strmobile}" target="_blank">Click here to view</a>`;
                            messageSpan.style.display = 'block'; // Show the message
                        } else {
                            messageSpan.style.display = 'none'; // Hide the message if no error
                            messageSpan.textContent = ''; // Clear message if mobile is valid
                        }
                    })
                    .catch(error => console.error('Error:', error));
            }
        });
    });
</script>

{%endblock%}