{% extends 'master.html'%}


{% block content %}
<style>
  .form-group {
      margin-bottom: 20px; /* Adjust this value as needed */
  }
  .text-danger {
    color: red;
}

        .table th, .table td {
            text-align: center;
            vertical-align: middle;
        }
        .left{
            text-align: left !important;
            font-weight:500;
        }
        /* Increase radio button size */
        .custom-radio {
            transform: scale(1.5); /* Increase size */
            margin: 5px; /* Add spacing */
        }
    </style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            function toggleReferralField() {
                let reservationType = $("#{{ form.reservationType.id_for_label }}").val();
                let referralField = $("#{{ form.referral.id_for_label }}");
    
                if (reservationType === "FV") {
                    referralField.prop("disabled", false);  // Enable if FV
                } else {
                    referralField.prop("disabled", true).val("");  // Disable and clear if not FV
                }
            }
    
            // Run on page load
            toggleReferralField();
    
            // Run on change
            $("#{{ form.reservationType.id_for_label }}").change(function () {
                toggleReferralField();
            });
        });
    </script>

<div class="pagetitle">
    <h1>New Reservation</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{%url 'index'%}">Home</a></li>
        <li class="breadcrumb-item">Center</li>
        <li class="breadcrumb-item active">Add New Reservation</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section">

    <div class="row">
      <div class="col-lg-10">
     
    
<div class="form-container">
  <form method="post" id="myform" class="form-horizontal">
    {% csrf_token %}

    <div class="form-group row">
        <label for="{{ form.fileserial.id_for_label }}" class="col-sm-3 col-form-label">File Serial</label>
        <div class="col-sm-8">
            {{ form.fileserial }}
            {% if fileserial.errors %}
                <div class="text-danger">
                    {{ form.fileserial.errors }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ form.reservationType.id_for_label }}" class="col-sm-3 col-form-label">Reservation Type<span style="color: red;">*</span></label>
        <div class="col-sm-8">
            {{ form.reservationType }}
            {% if form.reservationType.errors %}
                <div class="text-danger">
                    {{ form.reservationType.errors }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <label for="{{ form.referral.id_for_label }}" class="col-sm-3 col-form-label">Referral</label>
        <div class="col-sm-8">
            {{ form.referral }}
            {% if form.referral.errors %}
                <div class="text-danger">
                    {{ form.referral.errors }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        
        <label for="id_mobile" class="col-sm-3 col-form-label">Mobile<span style="color: red;">*</span></label>
        <div class="col-sm-8">
        <input type="text" id="id_mobile"  name="mobile" maxlength="12" class="form-control" required>
       
        <span style="display: none;" id="mobile-validation-message" class="alert alert-warning"></span>
        </div>

       
    
</div>
    
    <div class="form-group row">
        <label for="{{ form.fullname.id_for_label }}" class="col-sm-3 col-form-label">Patient Name<span style="color: red;">*</span></label>
        <div class="col-sm-8">
            {{ form.fullname }}
            {% if form.fullname.errors %}
                <div class="text-danger">
                    {{ form.fullname.errors }}
                </div>
            {% endif %}
        </div>
    </div>
   
    <div class="form-group row">
        
        <label for="id_othermobile" class="col-sm-3 col-form-label">Other Mobile</label>
        <div class="col-sm-8">
        <input type="text" id="id_othermobile" name="othermobile" maxlength="12" class="form-control">
       
        <span style="display: none;" id="mobile-validation-message" class="alert alert-warning"></span>
        </div>
    
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label">Gender<span style="color: red;">*</span></label>
    <div class="col-sm-8">
        <div>
            {% for radio in form.gender %}
                <div class="form-check form-check-inline">
                    {{ radio.tag }}
                    <label class="form-check-label">{{ radio.choice_label }}</label>
                </div>
            {% endfor %}
        </div>
        {% if form.gender.errors %}
            <div class="text-danger">
                {{ form.gender.errors }}
            </div>
        {% endif %}
    </div>
</div>

<div class="form-group row">
    <label for="{{ form.birthdate.id_for_label }}" class="col-sm-3 col-form-label">Birth Date </label>
    <div class="col-sm-8">
        {{ form.birthdate  }}
        {% if form.birthdate.errors %}
        <div class="text-danger">
            {{ form.birthdate.errors }}
        </div>
    {% endif %}
    </div>
</div>
    <div class="form-group row">
        <label for="{{ form.city.id_for_label }}" class="col-sm-3 col-form-label">City<span style="color: red;">*</span></label>
        <div class="col-sm-8">
            {{ form.city }}
            {% if form.city.errors %}
                <div class="text-danger">
                    {{ form.city.errors }}
                </div>
            {% endif %}
        </div>
    </div>
    
   

    
    <div class="form-group row">
        <label for="{{ form.sufferedcaseByPatient.id_for_label }}" class="col-sm-3 col-form-label">Suffered Case by patient<span style="color: red;">*</span></label>
        <div class="col-sm-8">
            {{ form.sufferedcaseByPatient }}
            {% if form.sufferedcaseByPatient.errors %}
                <div class="text-danger">
                    {{ form.sufferedcaseByPatient.errors }}
                </div>
            {% endif %}
        </div>
    </div>

   

    <div class="form-group row">
        <label for="{{ form.checkUpprice.id_for_label }}" class="col-sm-3 col-form-label">Check-Up price <span style="color: red;">*</span></label>
        <div class="col-sm-8">
            {{ form.checkUpprice }}
            {% if form.checkUpprice.errors %}
                <div class="text-danger">
                    {{ form.checkUpprice.errors }}
                </div>
            {% endif %}
        </div>
    </div>

    
    
    <div class="form-group row">
        <label for="{{ form.remarks.id_for_label }}" class="col-sm-3 col-form-label">Remarks</label>
        <div class="col-sm-8">
            {{ form.remarks }}
            
        </div>
    </div>

    
        <div class="form-group row" >
            <label for="{{ form.rideglass.id_for_label }}" class="col-sm-5 col-form-label">
                Willing to get rid of glass <span style="color: red;">*</span></label>
    
                
            <div class="col-sm-5">
                <div id="rideglass-error" class="text-danger"></div>
                <div class="form-check form-check-inline">
                    <input 
                        class="form-check-input" 
                        type="radio" 
                        name="rideglass" 
                        id="rideglassYes" 
                        value="Y"
                        {% if form.rideglass.value == "Y" %}checked{% endif %}
                    >
                    <label class="form-check-label" for="rideglassYes">YES</label>
                </div>
                <div class="form-check form-check-inline">
                    <input 
                        class="form-check-input" 
                        type="radio" 
                        name="rideglass" 
                        id="rideglassNo" 
                        value="N"
                        {% if form.rideglass.value == "N" %}checked{% endif %}
                    >
                    <label class="form-check-label" for="rideglassNo">NO</label>
                </div>

               


            </div>
        </div>
    
        <div class="form-group row">
            <label for="{{ form.wearingconduct.id_for_label }}" class="col-sm-5 col-form-label">
                Wearing contact lens for the last 2 weeks? <span style="color: red;">*</span>
            </label>
           
            <div class="col-sm-5">
                <div id="wearingconduct-error" class="text-danger"></div>
                <div class="form-check form-check-inline">
                    <input 
                        class="form-check-input" 
                        type="radio" 
                        name="wearingconduct" 
                        id="wearingYes" 
                        value="Y"
                        {% if form.wearingconduct.value == "Y" %}checked{% endif %}
                    >
                    <label class="form-check-label" for="wearingYes">YES</label>
                    <div id="wearingconduct-error" class="text-danger"></div>

                </div>
                <div class="form-check form-check-inline">
                    <input 
                        class="form-check-input" 
                        type="radio" 
                        name="wearingconduct" 
                        id="wearingNo" 
                        value="N"
                        {% if form.wearingconduct.value == "N" %}checked{% endif %}
                    >
                    <label class="form-check-label" for="wearingNo">NO</label>
                   

                </div>
                
               
            </div>
        </div>
        <!-- Medical Conditions Selection -->
         <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th class="left">Disease</th>
                        <th class="text-center">Self</th>
                        <th class="text-center">Relative</th>
                        <th class="left">Disease</th>
                        <th class="text-center">Self</th>
                        <th class="text-center">Relative</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="left">DIABETES</td>
                        <td class="text-center">
                            <input type="radio" name="medical_conditions[DIABETES]" value="self" class="form-check-input custom-radio">
                        </td>
                        <td class="text-center">
                            <input type="radio" name="medical_conditions[DIABETES]" value="relative" class="form-check-input custom-radio">
                        </td>
                        <td class="left">HEART DISEASE</td>
                        <td class="text-center">
                            <input type="radio" name="medical_conditions[HEART DISEASE]" value="self" class="form-check-input custom-radio">
                        </td>
                        <td class="text-center">
                            <input type="radio" name="medical_conditions[HEART DISEASE]" value="relative" class="form-check-input custom-radio">
                        </td>
                    </tr>
                    <tr>
                        <td class="left">HTN</td>
                        <td class="text-center">
                            <input type="radio" name="medical_conditions[HTN]" value="self" class="form-check-input custom-radio">
                        </td>
                        <td class="text-center">
                            <input type="radio" name="medical_conditions[HTN]" value="relative" class="form-check-input custom-radio">
                        </td>
                        <td class="left">ASTHMA ALLERGY</td>
                        <td class="text-center">
                            <input type="radio" name="medical_conditions[ASTHMA ALLERGY]" value="self" class="form-check-input custom-radio">
                        </td>
                        <td class="text-center">
                            <input type="radio" name="medical_conditions[ASTHMA ALLERGY]" value="relative" class="form-check-input custom-radio">
                        </td>
                    </tr>
                    <tr>
                        <td class="left">CANCER</td>
                        <td class="text-center">
                            <input type="radio" name="medical_conditions[CANCER]" value="self" class="form-check-input custom-radio">
                        </td>
                        <td class="text-center">
                            <input type="radio" name="medical_conditions[CANCER]" value="relative" class="form-check-input custom-radio">
                        </td>
                        <td class="left">GLAUCOMA</td>
                        <td class="text-center">
                            <input type="radio" name="medical_conditions[GLAUCOMA]" value="self" class="form-check-input custom-radio">
                        </td>
                        <td class="text-center">
                            <input type="radio" name="medical_conditions[GLAUCOMA]" value="relative" class="form-check-input custom-radio">
                        </td>
                    </tr>
                    <tr>
                        <td class="left">CATARACT</td>
                        <td class="text-center">
                            <input type="radio" name="medical_conditions[CATARACT]" value="self" class="form-check-input custom-radio">
                        </td>
                        <td class="text-center">
                            <input type="radio" name="medical_conditions[CATARACT]" value="relative" class="form-check-input custom-radio">
                        </td>
                        <td class="left">RETINAL D.</td>
                        <td class="text-center">
                            <input type="radio" name="medical_conditions[RETINAL D.]" value="self" class="form-check-input custom-radio">
                        </td>
                        <td class="text-center">
                            <input type="radio" name="medical_conditions[RETINAL D.]" value="relative" class="form-check-input custom-radio">
                        </td>
                    </tr>
                    <tr>
                        <td class="left">EYE SURGERY</td>
                        <td class="text-center">
                            <input type="radio" name="medical_conditions[EYE SURGERY]" value="self" class="form-check-input custom-radio">
                        </td>
                        <td class="text-center">
                            <input type="radio" name="medical_conditions[EYE SURGERY]" value="relative" class="form-check-input custom-radio">
                        </td>
                        <td class="left">EYE INJURY</td>
                        <td class="text-center">
                            <input type="radio" name="medical_conditions[EYE INJURY]" value="self" class="form-check-input custom-radio">
                        </td>
                        <td class="text-center">
                            <input type="radio" name="medical_conditions[EYE INJURY]" value="relative" class="form-check-input custom-radio">
                        </td>
                    </tr>
                </tbody>
            </table>
             
                </div>
   

    

   
    <div class="form-group row">
        <div id="form-error" class="alert alert-danger d-none"></div>

        <div class="col-sm-12 text-center"> <!-- Use text-center to center align content -->
            <button type="submit" class="btn btn-primary">Create Reservation</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
    </div>
    
</form>
          
    </div>
  </section>

  <script>
    document.getElementById('myform').addEventListener('submit', function(event) {
        let wearingConductChecked = document.querySelector('input[name="wearingconduct"]:checked');
        let rideGlassChecked = document.querySelector('input[name="rideglass"]:checked');
    
        let wearingConductError = document.getElementById('wearingconduct-error');
        let rideGlassError = document.getElementById('rideglass-error');
        let formError = document.getElementById('form-error');
    
        // Clear previous errors
        wearingConductError.textContent = "";
        rideGlassError.textContent = "";
        formError.classList.add('d-none');
    
        let hasError = false;
    
        if (!wearingConductChecked) {
            wearingConductError.textContent = "Required !";
            hasError = true;
        }
    
        if (!rideGlassChecked) {
            rideGlassError.textContent = "Required !";
            hasError = true;
        }
    
        if (hasError) {
            formError.textContent = "There are errors in the form. Please fix them before submitting.";
            formError.classList.remove('d-none');
            event.preventDefault(); // Prevent form submission
        }
    });
    </script>
  <script>
    
    document.addEventListener('DOMContentLoaded', function () {
        const mobileField = document.getElementById('id_mobile');
        const messageSpan = document.getElementById('mobile-validation-message');
        
        mobileField.addEventListener('blur', function () {
            const mobile = mobileField.value;
            const strmobile=mobile;
            if (mobile) {
                fetch(`/validate-mobile/?mobile=${mobile}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.exists) {
                            // Clear previous content
                            messageSpan.innerHTML = "A patient with this Mobile Number already exists. ";
    
                            // Create and append a new link element
                            const link = document.createElement("a");
                            link.href = `/centerReservationByMobile/${mobile}`;
                            link.target = "_blank";
                            link.innerText = "Click here to view";
    
                            // Attach a click event to ensure the link is responsive
                            link.addEventListener("click", (e) => {
                                e.stopPropagation(); // Prevent interference from other event listeners
                            });
    
                            messageSpan.appendChild(link);
                            messageSpan.style.display = 'block';
                        } else {
                            messageSpan.style.display = 'none';
                            messageSpan.textContent = '';
                        }
                    })
                    .catch(error => console.error('Error:', error));
            }
        });
    });
</script>

{%endblock%}