<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      {% if user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Link Sections</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{%url 'pushpatientData'%}">
              <i class="bi bi-circle"></i><span>Upload Patients - Manager</span>
            </a>
          </li>

          <li>
            <a href="{%url 'addnewpatient'%}">
              <i class="bi bi-circle"></i><span>Add New Patient</span>
            </a>
          </li>

          <li>
            <a href="{%url 'UploadedList'%}">
              <i class="bi bi-circle"></i><span>All Patients - List</span>
            </a>
          </li>
          <li>
            <a href="{%url 'showPatientData'%}">
              <i class="bi bi-circle"></i><span>Attended Patient - Recipt(1)</span>
            </a>
          </li>
        
          <li>
            <a href="{%url 'DoctorEvaluation'%}">
              <i class="bi bi-circle"></i><span>Doctor Evaluation</span>
            </a>
          </li>
          <li>
            <a href="{%url 'reportview'%}">
              <i class="bi bi-circle"></i><span>Live Report</span>
            </a>
          </li>

          <li>
            <a href="{%url 'getattendedpatient'%}">
              <i class="bi bi-circle"></i><span>Attended Patients</span>
            </a>
          </li>
       
         
        
        </ul>
      </li><!-- End Components Nav -->

      {% else %}
     <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
   {% endif %}

    </ul>

  </aside>