{% load custom_filters %}
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
    {% if user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link " href="{%url 'index'%}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      
      {% if request.user|in_group:"Call Center" or request.user|in_group:"Admin" or request.user|in_group:"Marketing" %}
      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Call Center</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content  " data-bs-parent="#sidebar-nav">
                  
          <li>
            <a href="{%url 'newreservation'%}">
              <i class="bi bi-circle"></i><span>New Reservation</span>
            </a>
          </li>

          <li>
            <a href="{%url 'reservationList'%}">
              <i class="bi bi-circle"></i><span>Reservations List</span>
            </a>
          </li>   
        </ul>
      </li>
      {%endif%}
      <!-- End Components Nav -->

      {% if request.user|in_group:"Reception" or request.user|in_group:"Admin" %}

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>EMC Center</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content  " data-bs-parent="#sidebar-nav">
                  
          <li>
            <a href="{%url 'centerNewreservation'%}">
              <i class="bi bi-circle"></i><span>New Reservation</span>
            </a>
          </li>
          
          
          <li>
            <a href="{%url 'centerPatients' 'Attendance-Today'%}">
              {% comment %} all reservation added by receiption {% endcomment %}
              <i class="bi bi-circle"></i><span>Attendance Today</span>
            </a>
          </li>
          {% comment %} <li>
            <a href="{%url 'centerPatients' 'Call-Center'%}">
                all reservation added by call center and expected to attend today or in future 
              <i class="bi bi-circle"></i><span>CC Reservations </span>
            </a>
          </li> {% endcomment %}

         

          <li>
            <a href="{%url 'centerPatients' 'Follow-Up'%}">
              {% comment %} all patients who come to follow up re-eximnation or  added by call center and and missed the time {% endcomment %}
              <i class="bi bi-circle"></i><span>Follow Up List </span>
            </a>
          </li>


          <li>
            <a href="{%url 'centerPatients' 'Missed-Reservations'%}">
              {% comment %} all reservation added by call center and and missed the time {% endcomment %}
              <i class="bi bi-circle"></i><span>Missed List </span>
            </a>
          </li>

          <li>

            <a href="{% url 'dashSearchOnPatient' %}">
              <i class="bi bi-circle"></i>
             Search Reservation
          </a>

          </li>

         

        </ul>
      </li>

      {%endif%}

     

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Audit/Doctor</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content  " data-bs-parent="#sidebar-nav">
           
          {% if request.user|in_group:"Doctor" or request.user|in_group:"Admin" %}
          <li>
            <a href="{%url 'DoctorEvaluation'%}">
              <i class="bi bi-circle"></i><span>Doctor Examination</span>
            </a>
          </li>
          {%endif%} 

          {% if request.user|in_group:"DoctorAudit" or request.user|in_group:"Admin" %}
          <li>
            <a href="{%url 'AuditEvaluation'%}">
              <i class="bi bi-circle"></i><span>Audit Examination </span>
            </a>
          </li>  
          {%endif%}   
        </ul>
      </li>
     


      
      {%if request.user.is_staff%}
      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Reports</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content  " data-bs-parent="#sidebar-nav">
          
        
          <li>
            <a href="{%url 'reportview'%}">
              <i class="bi bi-circle"></i><span>Live Report</span>
            </a>
          </li>

          <li>
            <a href="{%url 'PatientsList'%}">
              <i class="bi bi-circle"></i><span>All Patients - Status</span>
            </a>
          </li>

          <li>
            <a href="{%url 'getattendedpatient'%}">
              <i class="bi bi-circle"></i><span>Attended Patients</span>
            </a>
          </li>
       
         
        
        </ul>
      </li><!-- End Components Nav -->
      {%endif%} 
      {%if request.user.is_staff%}
      <li class="nav-item">
        <a class="nav-link " href="{%url 'admin:index'%}">
          <i class="bi bi-grid"></i>
          <span>Administration</span>
        </a>
      </li><!-- End Dashboard Nav -->
      {%endif%}

    {% else %}
     <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
    {% endif %}

    </ul>

  </aside>