<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      {% if user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link " href="{%url 'index'%}>
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Operations</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content  " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{%url 'pushpatientData'%}">
              <i class="bi bi-circle"></i><span>Upload Patients File</span>
            </a>
          </li>

          <li>
            <a href="{%url 'addnewpatient'%}">
              <i class="bi bi-circle"></i><span>1-Add New Patient</span>
            </a>
          </li>

         
          <li>
            <a href="{%url 'showPatientData'%}">
              <i class="bi bi-circle"></i><span>2-Attended Patient</span>
            </a>
          </li>
        
          <li>
            <a href="{%url 'DoctorEvaluation'%}">
              <i class="bi bi-circle"></i><span>3-Doctor Evaluation</span>
            </a>
          </li>

          <li>
            <a href="{%url 'DoctorEvaluation'%}">
              <i class="bi bi-circle"></i><span>Discussion</span>
            </a>
          </li>

          <li>
            <a href="{%url 'DoctorEvaluation'%}">
              <i class="bi bi-circle"></i><span>Operation</span>
            </a>
          </li>

               
         
        
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Reports</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content  " data-bs-parent="#sidebar-nav">
          
        
          <li>
            <a href="{%url 'reportview'%}">
              <i class="bi bi-circle"></i><span>Live Report</span>
            </a>
          </li>

          <li>
            <a href="{%url 'PatientsList'%}">
              <i class="bi bi-circle"></i><span>All Patients - Status</span>
            </a>
          </li>

          <li>
            <a href="{%url 'getattendedpatient'%}">
              <i class="bi bi-circle"></i><span>Attended Patients</span>
            </a>
          </li>
       
         
        
        </ul>
      </li><!-- End Components Nav -->

      {%if request.user.is_staff%}
      <li class="nav-item">
        <a class="nav-link " href="{%url 'admin:index'%}">
          <i class="bi bi-grid"></i>
          <span>Administration</span>
        </a>
      </li><!-- End Dashboard Nav -->
      {%endif%}

      {% else %}
     <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
   {% endif %}

    </ul>

  </aside>